.forms {
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.titulo {
    display: flex;
    flex-direction: column;
    margin: 15px 100px 55px 100px;
    background-color: white;
    border-width: 2px;
    border-style: solid;
}

.title{
    padding: 6px 6px 0px 50px;
    font-size: 23px;
    margin-bottom: 0px;
}

.usData {
    font-size: 12px;
    font-weight: 100;
    margin:0px 0px 20px 75px;
}

.container1{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.container2{
    border: black;
    border-width: 4px;
    border-style: solid;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    width:300px;
    height:310px;
    margin-top: 20px;
    padding-top:10px;
}

.ingreso {
    border-top: 10px;
    padding: 4px 0px 4px 0px;
}

.label {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:8px;
    width: 218px;
    border-right: 5px;
    font-size: small;
    font-weight: 500;

}

.imgsize {
    align-items: center;
    height: 126px;
    width:190px;
}


.input {
    padding: 2px;
    width: 130px;
    display:flex;
    align-items: center;
}

.buttonFM {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:2px 2px 2px 60px;
    padding-left: 5px;
    width:80px;
    border-radius:8px;
}

.container2a {
    width:50px;
}

.container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width:300px;
}

.mist {
    font-size:15px;
    font-weight: 100;
    margin:8px;
    padding:2px 2px 0px 1px;
}
