.container {
    width:100px;
    display: flex;
    flex-direction: row;
    padding:0px;
    margin:0px;

}
.input{
    height:30px;
    border-radius: 10px;
    width:140px;
}

.buttonSB {
    border:2px solid black;
    border-radius: 6px;
    height: 30px;
    width: 70px;
    margin:0px;
    padding-top: 3px;
    padding-bottom: 3px;
    

    button:hover {
        background-color: blueviolet;
    }
 }

